{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
    "plugin:cypress/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": [
		"react",
    "cypress"
	],
	"rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "react/prop-types": 0,
    "import/namespace": 0,
    "import/named": 0,
    "object-curly-spacing": ["error", "never"],
    "react/jsx-no-bind": ["error", {
      "allowArrowFunctions": true
    }],
    "react/no-array-index-key": 0,
    "no-magic-numbers": 0,
    "no-unused-vars": 1,
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "&&": "after"
        }
      }
    ],
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "warn",
    "strict": ["error", "global"],
    "curly": "warn"
  },
	"settings": {
    "react": {
      "version": "detect"
    }
  }
}